.nav {
    width: 99%;
    background-color: white;
    overflow: auto;
    padding: 5px;
    border-bottom: 1px grey solid;
}
 
.ul {
    float: right;
    margin: 2px;
    margin-right: 20px;
}

.li {
    padding: 5px;
    margin: 5px;
    float: left;
    list-style-type: none;
}